
@model IEnumerable<NLT.Models.BranchModel>

@{
    ViewBag.Title = "Branches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Grid-Headder-bg-color {
        background-color: #3b74fa;
        color: white;
        font-weight: bold;
    }
</style>

@using (Html.BeginForm("Branch", "Master", FormMethod.Post))
{

    <div class="container">
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b> Branches </b>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-10">
                                <table class="table table-responsive">
                                    <caption style="text-align:right;font-weight:bold;"><a href="/Master/Branch">Create</a></caption>
                                    <tr class="Grid-Headder-bg-color">
                                        <td style="text-align:center">
                                            Branch Id
                                        </td>
                                        <td>
                                            Branch Name
                                        </td>
                                        <td>
                                            Company Name
                                        </td>
                                        <td>
                                            Please
                                        </td>
                                        <td></td>
                                    </tr>

                                    @foreach (var m in Model)
                                      {
                                        <tr style="background-color:#f6fcfc">
                                            <td style="text-align:center">
                                                @m.BranchId
                                            </td>
                                            <td>
                                                @m.BranchName
                                            </td>
                                            <td>
                                                @m.CompanyName
                                            </td>
                                            <td>
                                                @m.PlaceName
                                            </td>

                                            <td>
                                                <a href="/Master/Branch/@m.BranchId">Edit</a>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}

